@page "/session/"
<title>Workout Session</title>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-warning">
        @Message
    </div>
}



<div class="m-2 d-flex justify-content-middle">
    <button @onclick="EndSession" class="btn btn-success">End session</button>
</div>


