@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to WorkoutLogs!

<div class="m-2 d-flex justify-content-end">
    <button @onclick="NewWorkout" class="btn btn-success">New workout</button>
</div>


