/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Option Button */
.exerciseType {
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    background-color: transparent;
    color: #007bff;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .exerciseType:hover {
        background-color: #007bff;
        color: #fff;
    }

/* Select Container */
.select-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

/* Exercise Dropdown */
.exercise-dropdown {
    appearance: none;
    padding: 12px 24px;
    font-size: 16px;
    border: 2px solid #007bff;
    background-color: transparent;
    color: #007bff;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px; /* Adjust width as needed */
}

    .exercise-dropdown:focus {
        outline: none;
    }

    .exercise-dropdown:hover {
        background-color: #007bff;
        color: #fff;
    }

    /* Placeholder Text */
    .exercise-dropdown::placeholder {
        color: #007bff; /* Placeholder text color */
    }
/* Styled Link */
.styled-link {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

    .styled-link:hover {
        color: #0056b3; /* Change color on hover */
    }


/* Styles for the form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for form inputs and labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

    input[type="text"]:focus,
    input[type="number"]:focus,
    select:focus,
    textarea:focus {
        border-color: #007bff;
        outline: none;
    }

/* Styles for the submit button */
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-btn:hover {
        background-color: #0056b3;
    }